:root {
	--orange-background: rgba(255, 166, 0, 0.532)
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Montserrat", sans-serif;
	background-color: rgba(224, 224, 224, 0.733);
}

/* HEADER */
#header .header-bg {
	width: 100%;
	height: 25vh;
	object-fit: cover;
}

.logo-div {
	padding-top: 15px;
	padding-bottom: 10px;
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgba(36, 36, 36, 0.618);
	align-items: center;
}

.logo-div img {
	height: 50px;
}

.browse {
	color: white;
	gap: 10px;
	display: flex;
}

.browse li {
	color: #ffffff;
	padding-inline: 5px;
	font-size: 1.1rem;
	margin-top: 5px;
	padding-block: 10px;
	margin-block: 5px;
	cursor: pointer;
}

.browse li:hover {
	border-bottom: 1px solid orange;
}

.active {
	color: orange !important;
}

/* CONTENT */

#content {
	margin-top: 3vh;
	background-color: var(--background-color);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
	gap: 15px;
	padding-inline: 15px;
}

.card {
	color: black;
	background-color: var(--orange-background);
	display: flex;
	flex-direction: row;
	padding: 25px;
	border-radius: 30px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.513);
}

.card img {
	border-radius: 30px;
	min-height: 200px;
	height: min(20vw, 35vh);
}

.card p {
	padding-inline: 20px;
	font-size: 1.2rem;
	height: 80%;
	display: flex;
	align-items: center;
}

/* CONTACT */

.restaurants-container {
	margin-inline: 40px;
	display: grid;
    gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(600px,1fr));
	margin-bottom: 30px;
}

.contact.header {
	font-weight: 400;
	margin: 0;
	text-align: center;
}

.restaurant-card {
	border-radius: 20px;
	background-color: rgba(255, 166, 0, 0.532);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.513);
}

.restaurant-card p {
	margin-left: 50px;
	font-size: 1.2rem;
    display: list-item;
}

.restaurant-card img {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	height: 350px;
    width: 400px;
}
